{% extends 'pure/layout.html' %}

{% block title %}David Kucher{% endblock title %}

{% block style %}
{{ super() }}
<style>
  body { background-color: rgb(102, 133, 117); }
  img { width: inherit;}
  /*.pure-menu { background-color: navajowhite; }
  .pure-menu-link:hover { background-color: burlywood; }
  .l-box { margin: 2em; padding-top: 2em; }
  .button-bb { background-color: #205081; color: snow; padding: 1em; }
  .button-gh { background-color: #f5f5f5; padding: 1em; }
  .button-gl { background-color: #e24329; color: snow; padding: 1em; } */
</style>
{% endblock style %}

# Overwrite body block in pure/layout.html
{%- block body %}
    {% block nav %}
    <div class="header">
    <div class="pure-menu pure-menu-horizontal">
        <a class="pure-menu-heading" href="{{ url_for('main.index') }}">Home</a>
        <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected">
            <a href="{{ url_for('main.about') }}" class="pure-menu-link">About</a>
        </li>
        <li class="pure-menu-item">
            <a href="{{ url_for('main.projects') }}" class="pure-menu-link">Projects</a>
        </li>
        </ul>
    </div>
    </div>
    {% endblock nav %}
    <section class="content">
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        {%- block content %}{% endblock content %}
    </section>
    {%- block script %}{% endblock script %}
{%- endblock body %}
