{% extends 'base.html' %}

{% block nav %}
<!-- On 'index' page only, make the nav transparent-->
<nav id="nav-wrap" class="nav-index">
    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

    <ul id="nav" class="nav">
        <li class="current"><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('resume') }}">Experience</a></li>
        <li><a href="{{ url_for('projects') }}">Projects</a></li>
        <!-- <li><a href="#">Contact</a></li> -->
    </ul> <!-- end #nav -->

</nav> <!-- end #nav-wrap -->
{% endblock nav %}

{% block content %}
 <!-- Super includes the content from base.html -->
{{ super() }}
{% endblock content %}