{% extends 'base.html' %}

{% block nav %}
<nav id="nav-wrap">
    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

    <ul id="nav" class="nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li class="current"><a href="{{ url_for('resume') }}">Experience</a></li>
        <li><a href="{{ url_for('projects') }}">Projects</a></li>
        <!-- <li><a href="#">Contact</a></li> -->
    </ul> <!-- end #nav -->

</nav> <!-- end #nav-wrap -->
{% endblock nav %}

{% block content %}

    <!-- Resume Section
   ================================================== -->
   <section id="resume">

    <!-- Education
  ----------------------------------------------- -->
    <div class="row education">

        <div class="three columns header-col">
            <h1><span>Education</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row item">

                <div class="twelve columns">

                    <h3>University of Michigan</h3>
                    <p class="info">M.S.E in Electrical and Computer Engineering <span>&bull;</span> <em class="date">April 2021</em> <br>
                        B.S.E in Computer Engineering <span>&bull;</span> <em class="date">December 2019</em>
                    </p>

                    <p class="resume_bullet">
                        See <a href="{{ url_for('projects') }}">Projects</a>.
                    </p>
                        
                    <ul>
                        Coursework:
                        <li>EECS 442: Computer Vision</li>
                        <li>EECS 452: Digital Signal Processing Design Lab</li>
                        <li>EECS 444: Analysis of Societal Networks</li>
                        <li>EECS 484: Database Management Systems</li>
                        <li>EECS 501: Probability & Random Processes</li>
                        <li>EECS 545: Machine Learning</li>
                        <li>EECS 551: Matrix Methods for Signal Processing</li>

                    </ul>

                </div>

            </div> <!-- item end -->

        </div> <!-- main-col end -->

    </div> <!-- End Education -->


    <!-- Work
  ----------------------------------------------- -->
    <div class="row work">

        <div class="three columns header-col">
            <h1><span>Work</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row item">

                <div class="twelve columns">

                    <h3>SambaNova Systems</h3>
                    <p class="info">Software Engineer <span>&bull;</span> <em class="date">June 2021</em></p>

                </div>

            </div> <!-- item end -->

            <!-- UMICH GSI 2020-21 -->

            <div class="row item">

                <div class="twelve columns">

                    <h3>University of Michigan</h3>
                    <p class="info">Graduate Student Instructor <span>&bull;</span> <em class="date">January 2020 -
                            Present</em></p>

                    <p class="resume_bullet">
                        Supported 40+ students in lab exercises in Python and C on embedded systems, and helped develop 
                        skills in signal processing and system integration later used in their senior design projects. 
                    </p>
                    <p class="resume_bullet">
                        Reviewed project proposals and offered feedback and debugging help for students to obtain their 
                        milestones and project goals.
                    </p>
                    <p>
                        Adapted labs to allow remote lab completion and support from course staff.
                    </p>

                </div>

            </div> <!-- item end -->

            <!-- KLA 2020 -->
            <div class="row item">

                <div class="twelve columns">

                    <h3>KLA Corporation</h3>
                    <p class="info">HPC Software Engineering Intern <span>&bull;</span> <em class="date">Summer 2020</em>
                    </p>

                    <p class="resume_bullet">
                        Improved baseline model performance by using multiple feature extraction techniques, including 
                        dimensionality reduction with PCA, convolutional neural networks, and texture-based features.
                    </p>
                    <p class="resume_bullet">
                        Analyzed “Double Descent” phenomenon on KLA’s regression use-cases in computer vision using 
                        convolutional and deep neural networks implemented in tensorflow, and managed experiments 
                        using mlflow.
                    </p>
                    <p>
                        Created containerized machine learning infrastructure for algorithm development 
                        with CI, automatic testing, dependency control, experiment tracking, hyperparameter tuning, 
                        and GPU acceleration.
                    </p>

                </div>

            </div> <!-- item end -->

            <!-- DUO 2019 -->
            <div class="row item">

                <div class="twelve columns">

                    <h3>Duo Security</h3>
                    <p class="info">Software Engineering Intern <span>&bull;</span> <em class="date">Summer 2019</em>
                    </p>

                    <p class="resume_bullet">
                        Improved the Duo Network Gateway under Agile framework, which included network and asynchronous 
                        programming in Python, and developing and testing code in docker containers.
                    </p>
                    <p class="resume_bullet">
                        Investigated failure in Google’s NaSSH network protocol in the DNG, then proposed, tested, and 
                        implemented a  solution by leveraging Go’s channels and the Twisted asynchronous Python library.
                    </p>
                    <p>
                        Collaborated  with teammates on tasks by soliciting and performing code reviews and design 
                        discussions, along  with regular sprint planning and retrospectives.
                    </p>

                </div>

            </div> <!-- item end -->

            <!-- X-Rite 2018 -->
            <div class="row item">

                <div class="twelve columns">

                    <h3>X-Rite</h3>
                    <p class="info">Software Engineering Intern <span>&bull;</span> <em class="date">Summer 2018</em>
                    </p>

                    <p class="resume_bullet">
                        Ported X-Rite’s universal device driver SDK from Windows to Linux, which utilizes image 
                        processing, multi-threading, and shared libraries to oversee device communications.
                    </p>
                    <p class="resume_bullet">
                        Programmed a test application using Qt for a C++ GUI to demonstrate driver SDK functionality.
                    </p>
                    <p>
                        Refactored and improved an image correction algorithm on device firmware, and applied bug 
                        fixes and updated features on X-Rite’s main color-matching software
                    </p>

                </div>

            </div> <!-- item end -->

            <!-- MedIX 2017 -->
            <div class="row item">

                <div class="twelve columns">

                    <h3>MedIX REU at DePaul University</h3>
                    <p class="info">Undergraduate Researcher <span>&bull;</span> <em class="date">Summer 2017</em>
                    </p>

                    <p class="resume_bullet">
                        Conducted research on mental health informatics, leveraging topic modeling and natural language
                         processing algorithms to analyze social media for information regarding mental health issues.
                    </p>
                    <p class="resume_bullet">
                        Contributed to the code to collect, process, and analyze data for meaningful information, and 
                        helped write and edit research papers documenting analysis and results.
                    </p>
                    <p>
                        Provided weekly, midterm, and final presentations about project progress.
                    </p>

                </div>

            </div> <!-- item end -->

        </div> <!-- main-col end -->
    </div> <!-- End Work -->

    <!-- Removing Resume Download (remove backslashes from brackets to restore functionality)
        <div class="row">
        <div class="twelve columns">

            <div class="download text-center">

                <p>
                    <a href="\{\{ url_for('show_static_pdf') \}\}" class="button"><i class="fa fa-download"></i> Download Resume</a>
                </p>

            </div>

        </div>

    </div> -->
</section> <!-- End Resume -->

{% endblock %}
