{% extends 'base.html' %}

{%  block nav %}
<nav id="nav-wrap">
    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

    <ul id="nav" class="nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li class="current"><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('resume') }}">Experience</a></li>
        <li><a href="{{ url_for('projects') }}">Projects</a></li>
        <!-- <li><a href="#">Contact</a></li> -->
    </ul> <!-- end #nav -->

</nav> <!-- end #nav-wrap -->
{% endblock nav %}

{% block content %}
<!-- About Section
================================================== -->
<section id="about">
    <div class="row">

        <div class="three columns">

            <img class="profile-pic" src="{{ url_for('static', filename='images/profile.png') }}" alt="" />

        </div>

        <div class="nine columns main-col">

            <h3>About Me</h3>

            <p> I'm a lifelong learner and love to build, solve, and fix things. I'm interested in signal/image processing 
                and machine learning problems, and always looking to learn more. Currently I'm a software engineering 
                focused on machine learning at a stealth startup in AI hardware. I've been playing with software since 
                I built my first website using ruby on rails in high school. I've moved onto python + 
                flask for <a href="https://github.com/mrdkucher/personal_resume">this one</a>. <br><br>

                In my spare time, I try to read books, play my guitar, stay active, enjoy the outdoors (I did take that 
                Zion photo!), and make memories with friends and family.
            </p>

            <div class="row">

                <div class="columns contact-details">

                    <h3>Connect</h3>
                    <p class="address">
                        <span>info at davidkucher dot com</span>
                        <ul class="social">
                            <li><a href="https://www.linkedin.com/in/davidkucher/"><i class="fa fa-lg fa-linkedin"></i></a></li>
                            <li><a href="https://github.com/mrdkucher"><i class="fa fa-lg fa-github"></i></a></li>
                        </ul>
                        <span class="social-links">
                        </span>
                    </p>

                </div>

            </div> <!-- end row -->

        </div> <!-- end .main-col -->

    </div>

</section> <!-- About Section End-->
{% endblock %}
