{% extends 'base.html' %}

{%- block nav %}
<nav id="nav-wrap">
    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

    <ul id="nav" class="nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('resume') }}">Experience</a></li>
        <li class="current"><a href="{{ url_for('projects') }}">Projects</a></li>
        <!-- <li><a href="#">Contact</a></li> -->
    </ul> <!-- end #nav -->

</nav> <!-- end #nav-wrap -->
{% endblock nav %}

{% block content %}
<!-- Projects Section
================================================== -->
<section id="projects">

    <div class="row">

        <div class="twelve columns collapsed">

            <!-- projects-wrapper -->
            <div id="projects-wrapper" class="bgrid-thirds s-bgrid-halves cf">

                <div class="columns projects-item">
                    <div class="item-wrap">

                        <a href="#modal-01" title="">
                            <img alt="" src="{{ url_for('static', filename='images/portfolio/mmir.jpg') }}">
                            <div class="overlay">
                                <div class="projects-item-meta">
                                    <h5>Classification of Moving Objects via Change Detection and XNOR Networks in Real Time</h5>
                                    <p>EECS 556: Image Processing</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->

                <div class="columns projects-item">
                    <div class="item-wrap">

                        <a href="#modal-02" title="">
                            <img alt="" src="{{ url_for('static', filename='images/portfolio/fastMCD.png') }}">
                            <div class="overlay">
                                <div class="projects-item-meta">
                                    <h5>Classification of Moving Objects via Change Detection and XNOR Networks in Real Time</h5>
                                    <p>EECS 545: Machine Learning</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->

                <div class="columns projects-item">
                    <div class="item-wrap">

                        <a href="#modal-03" title="">
                            <img alt="" src="{{ url_for('static', filename='images/portfolio/hive-mind.jpg') }}">
                            <div class="overlay">
                                <div class="projects-item-meta">
                                    <h5>Hive Mind: An Autonomous, Distributed Mapping System</h5>
                                    <p>EECS 452: Digital Signal Processing Design Lab</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->

                <div class="columns projects-item">
                    <div class="item-wrap">

                        <a href="#modal-04" title="">
                            <img alt="" src="{{ url_for('static', filename='images/portfolio/colorization.jpg') }}">
                            <div class="overlay">
                                <div class="projects-item-meta">
                                    <h5>Automatic Colorization of Animation Frames</h5>
                                    <p>EECS 442: Computer Vision</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->

                <div class="columns projects-item">
                    <div class="item-wrap">

                        <a href="#modal-05" title="">
                            <img alt="" src="{{ url_for('static', filename='images/portfolio/maze.jpg') }}">
                            <div class="overlay">
                                <div class="projects-item-meta">
                                    <h5>Automatic Maze Solver</h5>
                                    <p>EECS 351: Introduction to Digital Sigal Processing</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->

                <div class="columns projects-item">
                    <div class="item-wrap">

                        <a href="#modal-06" title="">
                            <img alt="" src="{{ url_for('static', filename='images/portfolio/histotripsy.jpg') }}">
                            <div class="overlay">
                                <div class="projects-item-meta">
                                    <h5>Lab Assistant</h5>
                                    <p>Therapeutic Ultrasound Group</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->

                <div class="columns projects-item">
                    <div class="item-wrap">

                        <a href="#modal-07" title="">
                            <img alt="" src="{{ url_for('static', filename='images/portfolio/path-visualization.png') }}">
                            <div class="overlay">
                                <div class="projects-item-meta">
                                    <h5>Graph Traversal Visualization Tool</h5>
                                    <p>EECS 281: Algorithms and Data Structures</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->

            </div> <!-- projects-wrapper end -->

        </div> <!-- twelve columns end -->


        <!-- Modal Popup
    --------------------------------------------------------------- -->

        <div id="modal-01" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="{{ url_for('static', filename='images/portfolio/modals/m-ddf.gif') }}" alt="" />

            <div class="description-box">
                <h4>Multimodal Image Registration: Comparison of Methods for 3D MRI to 3D Ultrasound Image Registation</h4>
                <p>EECS 556:Image Processing final project which compares and augments 3 methods for multimodal image registration/alignment.
                Ultrasound and MRI use different technologies to create images, but both are commonly used for medical imaging. This project
                attempts to use biological structures and image processing algorithms to guide an image registration process.
                We used and compare Linear Correlation of Linear Combination (LC^2), Structural Similarity Context (SSC), and Deep Learning
                with a novel, differentiable DICE loss to register the images. Pictured above is a Dense Deformation Field (DDF), which is a description of
                a non-linear deformation of some 3D volume, and the output of our Deep Learning model.<br><br>

                This work won first prize among 13 graduate projects in a KLA-sponsored competition.<br><br>
                
                Image credits:<br>
                Tile: <a href="http://dx.doi.org/10.1002/mp.12268">REtroSpective Evaluation of Cerebral Tumors (RESECT)</a><br>
                Dense Deformation Field: <a href=https://github.com/YipengHu/example-data/raw/master/media4demo/grid_warp_0.gif>DeepReg</a>
                </p>
            </div>

            <div class="link-box">
                <a href="https://github.com/mrdkucher/eecs556_MMIR" target="_blank">Github</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-01 End -->

        <div id="modal-02" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="{{ url_for('static', filename='images/portfolio/modals/m-fastMCD.png') }}" alt="" />

            <div class="description-box">
                <h4>Classification of Moving Objects via Change Detection and XNOR Networks in Real Time</h4>
                <p>EECS 545: Machine Learning final project which used fastMCD change detection algorithm along with Binary Weight 
                    and XNOR networks to classify objects. Outperformed state of the art YOLO approaches in FPS, IOU, and 
                    classification accuracy.
                </p>
            </div>

            <div class="link-box">
                <a href="https://github.com/ejshumaker/EECS545RFProject" target="_blank">Github</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-02 End -->

        <div id="modal-03" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="{{ url_for('static', filename='images/portfolio/modals/m-hive-mind.png') }}" alt="" />

            <div class="description-box">
                <h4>Hive Mind: An Autonomous, Distributed Mapping System</h4>
                <p>EECS 452: Digital Signal Processing Design Lab final project which used multiple agents to explore a maze 
                    environment using ultrasonic sensors, wheel encoders, Arduino microcontrollers, and a network of Raspberry Pis. 
                    Directed project team’s progress, and implemented an asynchronous, mapping system using socket network programming.</p>
            </div>

            <div class="link-box">
                <a href="https://gitlab.eecs.umich.edu/dkucher/hive-mind/-/tree/master/" target="_blank">Gitlab</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-03 End -->

        <div id="modal-04" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="{{ url_for('static', filename='images/portfolio/modals/m-colorization.png') }}" alt="" />

            <div class="description-box">
                <h4>Automatic Colorization of Animation Frames</h4>
                <p>EECS 442: Computer Vision final project which evaluated several approaches including Convolutional Neural Networks 
                    and Generative Adversarial Networks to automatically colorize images. Utilized pytorch and scikit-learn to 
                    implement neural networks.</p>
            </div>

            <div class="link-box">
                <a href="https://gitlab.eecs.umich.edu/dkucher/eecs442project" target="_blank">Gitlab</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-04 End -->

        <div id="modal-05" class="popup-modal mfp-hide">

            <img class="scale-with-grid gif" src="{{ url_for('static', filename='images/portfolio/modals/m-maze.gif') }}" alt="" />

            <div class="description-box">
                <h4>Automatic Maze Solver</h4>
                <p>EECS 351: Introduction to Digital Sigal Processing course final project which automatically solves mazes parsed from 
                    images. Automatically detects maze entrances, compresses image via convolution to reduce redundant information, then 
                    compares solutions of A* search, BFS, or MATLAB watershed algorithm.</p>
            </div>

            <div class="link-box">
                <a href="https://gitlab.eecs.umich.edu/dkucher/eecs351-final-project" target="_blank">Gitlab</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-05 End -->

        <div id="modal-06" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="{{ url_for('static', filename='images/portfolio/modals/m-histotripsy.jpg') }}" alt="" />

            <div class="description-box">
                <h4>Lab Assistant - Therapeutic Ultrasound Group</h4>
                <p>Developed a multi-layered application using networking fundamentals including socket programming to interface with, 
                    command, and retrieve data from an FPGA network.</p>
            </div>

            <div class="link-box">
                <a href="https://github.com/macoskey/Poseidon" target="_blank">Github</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-06 End -->

        <div id="modal-07" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="{{ url_for('static', filename='images/portfolio/modals/m-path-visualization.png') }}" alt="" />

            <div class="description-box">
                <h4>Graph Traversal Visualization Tool</h4>
                <p>Created a visualization tool to visualize the generated tours using fast traveling salesman problem (TSP) or 
                    optimum TSP algorithms. The EECS 281 course staff mentioned one would be provided but it never materialized, 
                    so I created one.</p>
            </div>

            <div class="link-box">
                <a href="https://github.com/mrdkucher/visualizationTool" target="_blank">Github</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-07 End -->

    </div> <!-- row End -->

</section> <!-- Projects Section End-->
{% endblock %}
